@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full;
}

body {
  @apply flex flex-col;
}

html::-webkit-scrollbar {
  display: none;
}

#content::-webkit-scrollbar {
  @apply hidden;
}

#channels::-webkit-scrollbar,
#chat::-webkit-scrollbar {
  @apply w-2;
}

#channels::-webkit-scrollbar-thumb,
#chat::-webkit-scrollbar-thumb {
  @apply bg-zinc-500 rounded;
}

.home {
  background-image: url('/stacked-waves-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
